.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  min-width: 1.09375rem;  /* 17.5px */
  min-height: 1.09375rem; /* 17.5px */
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.09375rem;
  height: 1.09375rem;
  background-color: transparent;
  border: 0.125rem solid var(--blue);
  border-radius: 15px;
}

.container:hover input ~ .checkmark {
  background-color: var(--blue-dark-op02);
  border: 0.125rem solid var(--blue-dark);
  
}

.container input:checked ~ .checkmark {
  background-color: var(--purple-dark);
  border: solid var(--purple-dark);
}

.container input:checked ~ .checkmark:hover {
  background-color: var(--purple);
  border: solid var(--purple);
}

.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 30%;
  bottom: 20%;
  width: 0.21875rem;
  height: 0.5rem;
  border: solid var(--gray-100);
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}