.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  width: 46rem;
  height: 3.375rem;
  position: absolute;
  top: 10.75rem;
}

.section input {
  width: 39.875rem;
  height: 3.375rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  background: var(--gray-500);
  color: var(--gray-100);
}
.section input::placeholder {
  color: var(--gray-300);
}

.section button {
  width: 5.625rem;
  height: 3.375rem;
  padding: 1rem;
  gap: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: var(--blue-dark);
  color: var(--gray-100);
  
  cursor: pointer;
  border: 0px;
  border-radius: 8px;
  font-size: 0.875rem;

}

.section button:hover {
  background: var(--blue);
}